<!-- HEADER START -->
<header>
  <h1>
    <a href="profile.html">Hold Me Accountable</a>
  </h1>
  <div>
    <input class="search-input mr-1 mb-2 px-2" type="text" placeholder="Search" id="search-bar" />
    <i class="search-icon fa-solid fa-magnifying-glass"></i>
    <button id="logout" class="logout-button ml-5">Logout</button>
  </div>
</header>

<main>
  <div class="profile-title columns-5">
    <img src="https://loremflickr.com/200/200" />
    <h1>{{userData.username}}</h1>
    <p>My Bad Habit: <span>{{postData.title}}</span></p>
  </div>

  <div class="logs">
    <div class="update-log">
      <h1 class="card-header">Update Log</h1>
      <div class="contents">
        <ol class="post-list">
          {{#each updates as |update|}}
          <li>
            <article class="post">
              <div class="title">
                <p>{{update.updates_text}}</p>
              </div>
              <div class="meta">
               <p>Created at: {{update.createdAt}}</p>
                {{!-- <a href="/updates/{{update.id}}"> --}}
              </div>
            </article>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>

    <div class="comment-log">
      <h1 class="card-header">Comment Log</h1>
      <div class="contents">
        <ol class="post-list">
          {{#each posts as |post|}}
          <li>
            <article class="post">
              <div class="title">
                <p>{{post.comment_text}}</p>
              </div>
              <div class="meta">
                by {{post.user.username}} on {{post.created_at}}
                <a href="/post/{{post.id}}">
              </div>
            </article>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>

  <div class="text-fields">
    <form class="updates-form">
      <input class="text-input mr-2 px-2" type="text" placeholder="Add an update..." name="update-field" />
      <button class="mr-20" type="submit">Update</button>
    </form>

    <form class="comment-form">
      <input class="text-input mr-2 px-2" type="text" placeholder="Add a comment.." name="comment-field" />
      <button type="submit">Comment</button>
    </form>
  </div>


</main>

<script src="/javascript/logout.js"></script>
<script src="/javascript/log-inputs.js"></script>